

header{
  height: 95vh;
  width: 100vw;
  background-image: url(/imagenes/alex-azabache-RJ_zZKgKrog-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  
  /*menu*/

  nav{
    padding: 1rem 3rem 0rem 3rem;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: rgba(177, 55, 161, 0.171);


    a{
      color: black;
      height: 6.4rem;
      .logo{
        width: 7rem;
      }
    }
    li{
      transition: all .2s ease-in-out;
      &:hover { 
        transform: scale(1.2);
        border-bottom: solid #C34092; 
      }

    }

    .menu{
      display: flex;
      width: 34rem;
      justify-content: space-between;

    }
  }

  /*Titulo*/
  .headerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80.8vh;
    text-align: center;
    background-color: rgba(177, 55, 161, 0.171);
    position: relative;

    

    .tituloPrincipal{
      font-weight: 800;
      font-size: 3.5rem;
      color: rgb(0, 0, 0);
      text-shadow: rgb(252, 243, 178) 0.1em 0.1em 0.2em
    }
    h6{
      font-weight: 100;
      font-size: 2rem;
      font-weight: 400;
    }
/* ############# SCROLL FADING ICON ############## */

.scrollDown
{
    position: absolute;
    left: 50%;
    bottom: 200px;
    z-index: 1;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    animation: fading 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fading {
    0%
    {
        transform: translate(0, -20px) rotate(45deg);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;
    }
}
  }
}

/* ############ EFECTO ESCRITURA ########### */
.line
{
    width: 30ch;
    top: 50%;
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.animTypewriter
{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from{
        width: 0;
    }
    to{
        width: 48em;
    }
}

@media(max-width: 768px){
    @keyframes typewriter {
        from{
            width: 0;
        }
        to{
            width: 38em;
        }
    }
}

@keyframes blinkTextCussor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}





/* ########Media Queries########*/


@include smarthphone{

  *{
    font-size: 8px;
  }

  $th_pink:#E84A5F;
  $th_dark:#2a363b;
/*Menu*/

header { 
    height: 90vh;
    width: 100vw;
    background-image: url(/imagenes/alex-azabache-RJ_zZKgKrog-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    nav{
      justify-content: center;
      background-color: rgba(42, 24, 19, 0.253);

      
      .logo{
        display: none;
      }
      a{
        font-size: 1.2rem;
      }
    }
    /*Titulo*/
    .headerBox{
      height: 81vh;
      background-color: rgba(42, 24, 19, 0.253);


      .tituloHeader{
        margin:0rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      /* ############# SCROLL FADING ICON ############## */

    .scrollDown
    {
        left: 47%;
    }
  }
}
  /*Menu*/


  
/*Portada*/

.tituloResponsive{
  display: none;
}



} 
