.misTrabajos{
    padding-top: 5rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    .trabajos-acuarela{
        width: 160px;
        height: 160px;
        position: absolute;
        left: 88%;
        top: 640px;
        background-image: url(/imagenes/acuarelas/trabajo.png);
        background-size: contain;
        background-repeat: no-repeat;
    } 
    .proyectos-boton{
        margin-top: 7rem;
        background: #000;
        padding: 0.9375rem 1.875rem;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: MaisonNeueDemi,Arial,Helvetica,sans-serif;
        cursor: pointer;
        border: none;
        border-radius: 3.125rem;
        transition: all .5s ease-in-out;
        &:hover { transform: scale(1.2); }
    
    }  

    .trabajos{
        justify-content: space-around;
        overflow-x: hidden;
        transition: all .2s ease-in-out;


        .trabajo-box{
            height: 100%;
            width: 100%;
            border-radius: 0.8rem;
            z-index:0;
            

            .paginaImg{
                height: 85%;
                background-size:cover;
                border-top-left-radius: 0.8rem;
                border-top-right-radius: 0.8rem;

            }
            .masc-perd{
                background-image: url(../imagenes/mascotas.png);
            }
            .reinv{
                background-image: url(../imagenes/reinventable.png);
            }
            .nutri{
                background-image: url(../imagenes/nutridog.png);
            }


            .paginaGitHub{
                background-color: rgb(54, 52, 52);
                height: 15%;
                color: white;
                padding-top: 0.5rem;
                border-bottom-left-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
                i{
                    font-size: 1.7rem;
                }
            }
        }
        &:hover { transform: scale(1.1); }
    }
}

/*carousel*/
.hi-slide { position: relative; width: 62.5rem; 
    height: 19.375rem; margin: 7.1875rem auto 0; 
}
            
.hi-slide .hi-next,
.hi-slide .hi-prev 
            { position: absolute;
              top: 50%; 
              width: 2.5rem;
              height: 2.5rem; 
              margin-top: -1.25rem;     
                border-radius: 3.125rem;                           
              line-height: 2.5rem;
              text-align: center; 
              cursor: pointer;
              background-color: rgba(255, 255, 255, 0.952); 
              color: black;               
              transition: all 0.6s;
              font-size: 1.25rem; 
                font-weight: bold;
            }
           .hi-slide .hi-next:hover, 
            .hi-slide .hi-prev:hover 
            {
            opacity: 1; 
            background-color: #fff;  
            }
            
           .hi-slide .hi-prev { left: -3.75rem; 
     }
            
    .hi-slide .hi-prev::before { content: '<'; }
    .hi-slide .hi-next { right: -3.75rem; }
    .hi-slide .hi-next::before { content: '>'; }
    
            .hi-slide > ul
                    { 
                        list-style: none; 
                        position: relative;
                        width: 62.5rem; 
                        height: 19.375rem; 
                        margin: 0;
                        padding: 0;
            }
            
            
        .hi-slide > ul > li {
            overflow: hidden; 
            position: absolute; 
            z-index: 0; 
            left: 23.5625rem;
            top: 9.125rem; 
            width: 0; 
            height: 0; 
            margin: 0; 
            padding: 0;
            cursor: pointer; }
            
        .hi-slide > ul > li > .trabajo-box { 
            width: 100%; height: 100%; ;
        }















        

/* ########Media Queries########*/
@include smarthphone{

    .misTrabajos{
        .trabajos-acuarela{
            display: none;
            margin: 0;
        } 
        .proyectos-boton{
            margin-top:0rem;
        }

        .trabajos{
            overflow-x: hidden;
            transition: all .2s ease-in-out;
            height: 45rem;

    
            .trabajo-box{
                height: 100%;
                width: 100%;
                border-radius: .8rem;
                z-index:0;
    
                .paginaImg{
                    height: 20rem;
                    background-size:cover;
                    border-top-left-radius: .8rem;
                    border-top-right-radius: .8rem;
    
                }
                .paginaGitHub{
                    background-color: rgb(54, 52, 52);
                    height: 9%;
                    color: white;
                    padding-top: .5rem;
                    border-bottom-left-radius: .8rem;
                    border-bottom-right-radius: .8rem;
                    i{
                        font-size: 1.7rem;
                    }
                }
            }
        }
        .hi-slide { 
            position: relative; 
            width: 40.5rem; 
            height: 30rem; 
        }

      }
}